.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  /* background-color: rgba(135, 206, 250, 0.2); */
  padding: 10px;
  border-radius: 10px;
}

.navlink {
  color: sandybrown;
  text-decoration: none;
  padding: 6px 6px;
  font-size: 29px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  text-shadow: 1px 1px 0 white;
  font-family: 'Press Start 2P', cursive;
}
.navlinkbuttonLogout {
  color: sandybrown;
  padding: 3px 6px;
  font-size: 21px;
  border: none;
  border-radius: 5px;
  text-shadow: 2px 2px 3 #ff0808;
  font-family: 'Press Start 2P', cursive;
  background: transparent;
  margin-top: 8px;
}

.navlinkbuttonLogout:hover {
  background-color: rgb(255, 0, 0);
}

.navlinkbuttonLogout.active {
  background-color: rgb(255, 0, 0);
  font-weight: bold;
}

.navlink:hover {
  background-color: white;
}

.navlink.active {
  background-color: white;
  font-weight: bold;
}

.buttonLogout {
}
