.character-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 38px;
}

.character-item {
  list-style: none;
  flex: 1 1 calc(25.333% - 16px);
  box-sizing: border-box;
}

.episode-list {
}
