.container {
  display: flex;
  justify-content: space-between;
}

.navlink {
  color: sandybrown;
  text-decoration: none;
  padding: 6px 6px;
  font-size: 29px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  text-shadow: 1px 1px 0 white;
  font-family: 'Press Start 2P', cursive;
  margin-left: 25px;
}

.navlink:hover {
  background-color: white;
}

.navlink.active {
  background-color: white;
  font-weight: bold;
}

.containerRegistration {
  display: flex;
  gap: 20px;
  margin-right: 65px;
  padding: 10px;
}

.containerHome {
  padding: 10px;
}
