.container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 10px 0;
}

.navlink {
  color: lime;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 25px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.navlink:hover {
  background-color: white;
}

.navlink.active {
  background-color: white;
  font-weight: bold;
}
