.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background-color: #fff; */
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: rgba(135, 206, 250, 0.2);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-info {
  text-align: left;
  margin-top: 12px;
}

.card-name {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: lawngreen;
}

.card-detail {
  margin: 0.2em 0;
  font-size: 1.2em;
  color: lightgoldenrodyellow;
}

/* /////////////////////////////////////// */

.character-item {
  list-style: none;
}
.character-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.character-item {
  flex: 1 1 calc(33.333% - 16px);
  box-sizing: border-box;
}
.character-list {
  /* background-color: slategrey; */
}

.character-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 27px;
  color: chartreuse;
  margin-top: 44px;
}

.home-title {
  display: flex;
  font-size: 60px;
  font-family: sans-serif;
  color: sandybrown;
  margin-left: 300px;
  /* background-color: rgba(135, 206, 250, 0.2); */
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 5px 0 brown;
  margin-top: 95px;
}

.location-list {
  /* background-color: mediumspringgreen; */
}

.card-episode {
  background-color: gold;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.episode-name {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.episode-detail {
  margin: 8px 0;
  font-size: 1rem;
  color: #555;
}

.episode-title {
  display: flex;
  justify-content: flex-start;
  font-size: 80px;
  font-family: sans-serif;
  margin-left: 74px;
  margin-top: 20px;
  /* background-color: yellow; */
  color: rebeccapurple;
}

/* HTML:  */
.loader {
  display: inline-grid;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(
    from 30deg,
    #c02942 0 60deg,
    #0b486b 0 120deg
  );
  animation: l9-0 3s linear infinite;
}
.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  transform: rotate(0turn) translate(100%, 0);
  animation: l9-1 3s linear infinite;
}
.loader:after {
  animation-delay: -1.5s;
}
@keyframes l9-0 {
  to {
    rotate: -1turn;
  }
}
@keyframes l9-1 {
  to {
    transform: rotate(1turn) translate(100%, 0) rotate(1turn);
  }
}

.loader-one {
  display: flex;
  justify-content: center;
}

/* //////////////////////////////////////////////// */

.card-location {
  background-color: #e0f7e0;
  /* border: 4px solid lawngreen; */
  border-radius: 15px;
  padding: 20px;
  /* box-shadow: 10px 10px 0 #32cd32; */
  max-width: 400px;
  margin: 20px auto;
  font-family: 'Comic Sans MS', 'Comic Neue', cursive;
  color: #333;
  transition: transform 0.2s;
}

.card-location:hover {
  transform: translateY(-5px);
}

.card-location:hover {
  transform: translateY(-5px);
}

.location-name {
  font-size: 23px;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 0 greenyellow;
  margin-bottom: 10px;
}

.location-detail {
  font-size: 17px;
  margin: 10px 4px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: normal;
}

.location-detail strong {
  color: teal;
}

.location-title {
  display: flex;
  justify-content: center;
  font-size: 110px;
  font-family: sans-serif;
  margin-top: 25px;
  margin-top: 80px;
  color: greenyellow;
}

.ant-pagitation {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* ///////////////////////////////////////////////// */

.alien-icon {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background: red;
  display: flex;
  align-content: space-between;
  margin-left: 140px;
  margin-top: -13px;
  animation: blin 1s infinite;
}

@keyframes blin {
  0% {
    background: red;
  }
  50% {
    background: rgba(85, 204, 68, 0);
  }
  100% {
    background: red;
  }
}

.human-icon {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background: rgb(85, 204, 68);
  display: flex;
  align-content: space-between;
  margin-left: 140px;
  margin-top: -13px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background: rgb(85, 204, 68);
  }
  50% {
    background: rgba(85, 204, 68, 0);
  }
  100% {
    background: rgb(85, 204, 68);
  }
}

.location-hower:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: black;
}
