* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.character-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 27px;
  color: chartreuse;
  margin-top: 44px;
}

.home-title {
  display: flex;
  font-size: 60px;
  /* font-family: sans-serif; */
  font-family: 'Press Start 2P', cursive;
  color: sandybrown;
  margin-left: 300px;
  /* background-color: rgba(135, 206, 250, 0.2); */
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 5px 0 brown;
  margin-top: 95px;
}
.home-help {
  display: flex;
  font-size: 10px;
  /* font-family: sans-serif; */
  font-family: 'Press Start 2P', cursive;
  color: #00eff3;
  margin-left: 310px;
  /* background-color: rgba(135, 206, 250, 0.2); */
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 0 #0f0a0a;
  margin-top: 360px;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.location-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 27px;
  color: chartreuse;
  margin-top: 44px;
}

.episode-title {
  display: flex;
  justify-content: flex-start;
  font-size: 80px;
  font-family: sans-serif;
  margin-left: 40px;
  margin-top: 29px;
  /* background-color: yellow; */
  color: rebeccapurple;
  margin-bottom: 27px;
}

.loader {
  font-size: 48px;
  color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:before {
  content: '';
  animation: 5s print linear alternate infinite;
}
.loader:after {
  content: '';
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translatey(-45%);
  width: 2px;
  height: 1.3em;
  background: currentColor;
  opacity: 0.8;
  animation: 1s blink steps(2) infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes print {
  0% {
    content: 'L';
  }
  10% {
    content: 'Lo';
  }
  20% {
    content: 'Loa';
  }
  30% {
    content: 'Load';
  }
  40% {
    content: 'Loadi';
  }
  50% {
    content: 'Loadin';
  }
  60% {
    content: 'Loading';
  }
  70% {
    content: 'Loading.';
  }
  80% {
    content: 'Loading..';
  }
  90%,
  100% {
    content: 'Loading...';
  }
}

.ant-pagitation {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.char-container {
  background: no-repeat url('../src/images/121212.jpg');
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.home-container {
  background-image: url('../src/images/1259528.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.epi-container {
  background: no-repeat url('../src/images/1335145.jpg');
  background-size: cover;
  /* background-position: center; */
  width: 100vw;
  /* height: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* height: 100vh; */
  /* overflow: hidden;
  position: relative; */
}

.location-container {
  background: no-repeat url('../src/images/121212.jpg');
  width: 100vw;
}

.home-page {
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.logInImg {
  background: no-repeat url('../src/images/logeidImg.jpg');
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.registerImg {
  background: no-repeat url('../src/images/registration.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
